{% extends 'home.html'%} {% load static %} {% block head %}
<title>Market |shopping.com</title>
{% endblock %} {% block banner %} {% endblock %} {% block content %}
<div id="content">
  <div class="row m-1 border border-dark">
    {% for product in allproducts %}
    <div
      class="col-md-4 {{product.product_type}}"
      id="{{product.product_name | lower}}"
    >
      <img
        src="{{product.product_image.url}}"
        alt=""
        width="400"
        height="300"
      />
      <form method="post">
        <label>Name : {{product.product_name}}</label>
        <label>Price : {{product.product_price}} $</label>
        <label>Details : {{product.product_details }}</label>
        <a
          href="{% url 'addToCart' email=email pid=product.product_id %}"
          class="btn btn-primary"
          >Add to cart</a>
        <a href="{% url 'buy' pid=product.product_id email=email %}" class="btn btn-primary">Buy now</a>
      </form>
    </div>
    {% endfor %}
  </div>
</div>

<script>
  $(function () {
    $("#searchButton").click((event) => {
      let query = $("#query").val().toLowerCase();
      if (query == "") {
        alert("Please insert some text for search.");
        location.reload(true);
      } else {
        let product = $(`#${query}`);
        
        $("div .col-md-4").hide();
        product.show();
      }
    });
  });
</script>
{% endblock %}
