{% extends 'navbar.html'%} {% load static %} {% block content %}
<title>buy now | shopping.com</title>
<link rel="stylesheet" href="{% static 'css/buy.css' %}" />
<script src="{% static 'js/jquery.min.js'%}"></script>
<script src="{% static 'js/sweetalert2.all.min.js'%}"></script>

<div class="content">
  <img src="{{ product.product_image.url}}" alt="img not found" />
  <h1>{{product.product_name}}</h1>
  <label>Price : {{product.product_price}} $</label>
  <label>Quantity : {{quantity}}</label>
  <label>Details : {{product.product_details}}</label>
  <a id="proceed" class="btn btn-primary btn-lg text-light" href="{% url 'payment'%}">Proceed to buy</a>
</div>

<script>
  
</script>
{% endblock %}
