{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.9.0/dist/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/home.css'%}" />
    {% block head%}
    <title>Home| shopping.com</title>
    {% endblock %}
  </head>
  <body>
    {% include 'messages.html' %}
    <div id="navbar">
      <ul id="first">
        <li><a href="/" class="navbtn">Home</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'market' email=user.email  %}" class="navbtn">Market</a></li>
        <li>
          <div class="dropdown">
            <a
              class="dropdown-toggle navbtn"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
             Account
          </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a href="{% url 'cart' email=user.email %}" class="dropdown-item">My Cart</a>
              <a href="{% url 'logout' %}" class="dropdown-item">Logout</a>
            </div>
          </div>
        </li>
        {% else %}
        <li><a href="{% url 'login' %}" class="navbtn">Login</a></li>
        <li>
          <a href="{% url 'market' %}" class="navbtn">Market</a>
        </li>
        {% endif %}
        <li><a id="about" class="navbtn">About</a></li>
      </ul>
      <script></script>
      <ul id="search">
        <input type="search" id="query" /><button
          class="btn btn-success btn-sm m-1"
          id="searchButton"
        >
          Search
        </button>
      </ul>
    </div>

    {% block banner %}
    <div id="content">
      <div class="jumbotron mt-2" id="offer">
        <a class="display-3 text-center" href="">Diwaali Offer</a>
        <p class="display-5 text-center text-light">
          Get 20% off on Exclusive shopping. <br />From 1 Nov to 20 Nov
        </p>
      </div>
    </div>

    <div id="banner">
      <div class="row bg-primary text-light" id="large">
        <div class="col-md-6">
          <h1 class="display-4 text-center">{{titles.5}}</h1>
          <form
            action="{% url 'offer' ptype=5 %}"
            method="post"
            class="bigicon"
            target="_blank"
          >
            {% csrf_token %}
            <input type="hidden" name="email" value="{{user.email}}" />
            <img src="{% static 'images/apparel.webp'%}" alt="" id="cloth" />
            <button class="btn btn-success d-block m-auto">Go</button>
          </form>
        </div>

        <div class="col-md-6">
          <h1 class="display-4 text-center">{{titles.4}}</h1>
          <form
            action="{% url 'offer' ptype=4 %}"
            method="post"
            class="bigicon"
            target="_blank"
          >
            {% csrf_token %}
            <input type="hidden" name="email" value="{{user.email}}" />
            <img src="{% static 'images/laptop.webp'%}" alt="" id="elec" />
            <button class="btn btn-success d-block m-auto">Go</button>
          </form>
        </div>

        <div class="col-md-6">
          <h1 class="display-4 text-center">{{titles.6}}</h1>
          <form
            action="{% url 'offer' ptype=6 %}"
            method="post"
            class="bigicon"
            target="_blank"
          >
            {% csrf_token %}
            <input type="hidden" name="email" value="{{user.email}}" />
            <img src="{% static 'images/rubiks-cube.webp'%}" alt="" id="toys" />
            <button class="btn btn-success d-block m-auto">Go</button>
          </form>
        </div>

        <div class="col-md-6">
          <h1 class="display-4 text-center">{{titles.1}}</h1>
          <form
            action="{% url 'offer' ptype=1 %}"
            method="post"
            class="bigicon"
          >
            {% csrf_token %}
            <input type="hidden" name="email" value="{{user.email}}" />
            <img
              src="{% static 'images/smartphone.webp'%}"
              alt=""
              id="mobiles"
            />
            <button class="btn btn-success d-block m-auto">Go</button>
          </form>
        </div>
      </div>

      <h1 class="display-3 bg-warning text-center mb-0 text-light">
        {{titles.2}}
      </h1>
      <div class="row bg-warning text-light" id="small">
        <div class="col-md-3">
          <h1 class="display-4 text-center">Pizza</h1>
          <a><img src="{% static 'images/pizza.webp'%}" alt="" /></a>
        </div>
        <div class="col-md-3">
          <h1 class="display-4 text-center">Burger</h1>
          <a><img src="{% static 'images/hamburger.webp'%}" alt="" /></a>
        </div>
        <div class="col-md-3">
          <h1 class="display-4 text-center">Drink</h1>
          <a><img src="{% static 'images/tail.webp'%}" alt="" /></a>
        </div>
      </div>
    </div>
    {% endblock %} {% block content %} {% endblock %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script>
      $(function () {
        $("#searchButton").click((event) => {
          let loc = $(location).attr("pathname");
          if (loc != "/market/all") $(location).attr("pathname", "/market/all");
        });
        $("#about").click(function () {
          Swal.fire("Good job!", "You clicked the button!", "success");
        });
      });
    </script>
  </body>
</html>
