{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" />
<link rel="stylesheet" href="{% static 'css/navbar.css'%}" />
<div id="navbar">
  {% include 'messages.html' %}
  <ul id="first">
    <li><a href="/" class="navlinks">Home</a></li>
    {% if user.is_authenticated %}
    <li>
      <a href="{% url 'market' email=user.email  %}" class="navlinks">Market</a>
    </li>
    <li>
      <div class="dropdown">
        <a
          class="dropdown-toggle navbtn"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a href="{% url 'cart' email=user.email %}" class="dropdown-item"
            >My Cart</a
          >
          <form action="{% url 'dashboard'%}" method="post">
            {% csrf_token %}
            <input type="submit" value="Dashboard" class="dropdown-item" />
          </form>

          <a href="{% url 'logout' %}" class="dropdown-item">Logout</a>
        </div>
      </div>
    </li>
    {% else %}
    <li><a href="{% url 'login' %}" class="navlinks">Login</a></li>
    <li>
      <a href="{% url 'market' %}" class="navlinks">Market</a>
    </li>
    {% endif %}
    <li><a href="" class="navlinks">About</a></li>
  </ul>
  <ul id="search">
    <input type="search" id="query" /><button
      class="btn btn-success btn-sm m-1"
      id="searchButton"
    >
      Search
    </button>
  </ul>
</div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script>
  $(function () {
    $("#searchButton").click((event) => {
      let loc = $(location).attr("pathname");
      if (loc != "/market/all") $(location).attr("pathname", "/market/all");
    });
    $("#about").click(function () {
      Swal.fire("Good job!", "You clicked the button!", "success");
    });
  });
</script>
