{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  <style>
    #bank {
      visibility: hidden;
    }
  </style>
</head>

<body class="container">
  <div class="jumbotron d-flex flex-column">
    <div class="input-group input-group-lg my-1">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input
            type="radio"
            aria-label="Radio button for following text input"
            name="pmt"
            id="cod"
            value="cod"
          />
        </div>
        <label> Cash on delivary</label>
      </div>
    </div>
    <div class="input-group input-group-lg my-1">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input
            type="radio"
            aria-label="Radio button for following text input"
            name="pmt"
            id="emi"
            value="emi"
          />
        </div>
        <label> EMI</label>
      </div>
    </div>

    <div class="input-group input-group-lg my-1">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input
            type="radio"
            aria-label="Radio button for following text input"
            name="pmt"
            id="nbk"
          />
        </div>
        <label>Net Banking</label>
      </div>
    </div>
    <div class="input-group mt-3">
      <select class="custom-select" id="bank" name="bank" onchange="bankSelect()">
        <option selected>Select Bank</option>
        <option value="sbi">SBI</option>
        <option value="hdfc">HDFC</option>
        <option value="icici">ICICI</option>
      </select>
    </div>
    <form method="POST" class="text-center my-3" >
      {% csrf_token %}
      <input type="hidden" value="" id="pmtm" name="payment">
      <input type="hidden" name="email" id="email" value="{{email}}">
      <button class="btn btn-success col-md-2 " disabled type="submit">
        Place Order
      </button>
    </form>
    <script>
      let nbk = document.querySelector("#nbk");
      nbk.addEventListener("click", function () {
        setTimeout(function () {
          document.querySelector("#bank").style.visibility = "visible";
        }, 500);

      });

      function bankSelect(){
        let bank=document.querySelector("#bank").value;
        console.log(bank);
        document.querySelector("#pmtm").value="net-"+bank;
        document.querySelector("#email").value=new URL(window.location.href).searchParams.get("email");
        document.querySelector("form button").disabled=false;
        
      }

      let checks = document.querySelectorAll("input[value='cod'],input[value='emi']");
      checks.forEach(element => {
        element.addEventListener("click",()=>{
          let method=element.value;
          document.querySelector("#pmtm").value=method;
          document.querySelector("#email").value=new URL(window.location.href).searchParams.get("email");
          document.querySelector("form button").disabled=false;
        });
      });
      console.log(new URL(window.location.href).searchParams.get("email"))
    </script>
  </div>
</body>
